* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #103B19;
  }
  
  #versao-pc {
    height: 100%;
  }
  
  .versao-pc-links {
    margin: 0 3vw;
  }
  
  .navbar {
    display: flex;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #D1E8D8; 
  }
  
  .navbar-pc-links {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  
  
  .navbar .logo {
    float: left;
    padding: 15px;
    font-size: 38px;
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #103B19;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover{
    text-decoration: underline;
  }
  
  .navbar .buttons {
    float: right;
  }
  
  .navbar .buttons button {
    background-color: #62C476; 
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  .navbar .buttons button:nth-child(1){
    background-color: #D1E8D8;
    color: #103B19;
    font-weight: 400;
  }
  
  .navbar .buttons button:hover{
    text-decoration: underline;
  }
  
  .dropdown {
    display: none;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    background-color: #D1E8D8;
    color: white;
  }



.assunto {
  justify-content: center;
  display: inline-flex;
}

 
.retangulo {
  width: 939px;
  height: 267px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 5px solid #D1E8D8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 13px;
  margin-left: 107px;
  margin-right: 26px;
  margin-top: 42px;
  display: inline-block;
}

.h1 {
  color: #103B19;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  width: 418px;
  margin-top: 29px;
  margin-left: 30px;
  margin-right: 491px;
  margin-bottom: 19px;
}



.retangulo1 {
  width: 777px;
  height: 168px;
  flex-shrink: 0;
  margin-bottom: 19px;
  margin-top: 19px;
  margin-left: 30px;
  margin-right: 132px;
  
}


.h3 {
  color: #103B19;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 1px;
}


.h4 {
  color: #103B19;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 1px;
  margin-left: 30px;
  margin-top: 16px;
  margin-right: 16.67px;
  margin-bottom: 13px;
  width: 216px;
  height: 239px;
  }


  .quadrado {
    width: 262.668px;
    height: 315px;
    flex-shrink: 0; 
    border-radius: 5px;
    border: 5px solid #D1E8D8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    margin-left: 15px;
    margin-top: 42px;
    margin-right: 105.33px;

  }

  
  .h2 {
    color: #103B19;
    font-family: 'Baloo 2', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 266.667% */
    letter-spacing: -1px;
    margin-left: 545px;
    margin-right: 731px;
  }
  
  
  .ultimos-projecto-section .cards {
    display: flex;
  
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50vw;
    margin: 40px 0;
    margin-left: 107px;
    margin-right: 286px;
    margin-top: 5px;
    margin-bottom: 26px;
  }
  
  .ultimos-projecto-section .card {
    text-align: center;
    border-radius: 16px;
    border: 5px solid #D1E8D8;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(16, 59, 25, 0.08);
    width: 309px;
    height: 406px;
    flex-shrink: 0;
  }
  
  .ultimos-projecto-section .card .card-image {
    max-width: 100%;
    border-radius: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  
  .user {
    display: flex;
    
    align-items: center;
  }
  
  .linha-divisoria {
    width: 100%;
    height: 1px;
    background: #D1E8D8;
    margin: 16px 0; 
  }
  
  
  .user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-text {
    display: flex;
    align-items: center;
  }
  
  .icon-text div {
    
    color: rgba(16, 59, 25, 0.75);
  }
  
  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  footer {
    background-color: #0E2814;
    padding: 80px 40px;  
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  
    color: #fff;
  }
  
  .part {
    flex: 1;
    margin: 0 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  footer ul li:first-child{
    padding-bottom: 20px;
  }
  
  footer img {
    max-width: 100%;
    height: auto;
  }
  
  .down-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .down-details p {
    color: rgba(255, 255, 255, 0.50);
  }









  @media screen and (max-width: 1200px) {
    .header {
      padding: 0 3vw;
    }
  
    .categorias-populares-wrapper {
      max-width: 80%;
    }
  
    .titulo-descricao {
      flex-direction: column;
      text-align: left;
      align-items: start;
    }
    .explicando-melhor-cards {
      display: flex;
      flex-direction: column;
    }
    .explicando-melhor-card {
      display: flex;
      flex-direction: column;
      width: 40%;
    }
  
    #explicando-melhor {
  
      padding: 50px 20px;
  
    }
  
    .newsletter-section {
      flex-direction: column;
      align-items: center;
  
      padding: 60px 0;
    }
  
    .section-heading {
      font-size: 36px;
      font-family: 'Baloo 2';
    }
  
    .newsletter-head {
      width: 80%;
  
      border-radius: 16px 16px 0 0 ;
    }
  
    .subscription-form{
      width: 80%;
      border-radius: 0 0 16px 16px;
    }
  }



@media screen and (max-width: 700px) {

  .navbar a, .navbar .buttons {
    float: none;
    display: block;
    text-align: left;
  }



  .navbar .buttons, .navbar .versao-pc {
    display: none;
  }

  .navbar .dropdown {
    display: block;
  }

  .navbar .icon {
    display: block;
    float: right;
  }


  .navbar .dropdown-content {
    display: none;
    position: absolute;
    right: 69px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navbar .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }


  .navbar .show {
    display: block;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .text-box {
    order: 2;
  }

  .text-box h1 {
    font-family: 'Baloo 2', sans-serif;
    font-size: 56px;
  }

  .text-box p {
    font-size: 16px;
  }

  .image {
    order: 1;
  }

  .image img {
    width: 50vw;
  }

  .ultimos-projecto-section .cards {
    flex-direction: column;
    width: 80vw;
  }


  .ultimos-projecto-section .card {
    flex: 1;
  }

  .categorias-populares {
    padding: 22px;
  }

  .categorias-populares-wrapper {
    max-width: 100%;
    padding: 36px;
  }

  .categorias-titulo {
      font-size: 20px;
  }

  .categorias-descricao {
      font-size: 14px;
  }

  .categorias-card {
      flex: 1;
      margin: 0 5px;
      width: 56vw;
  }

  .categorias-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .categorias-card-titulo {
      font-size: 14px;
  }

  .explicando-melhor-card {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .newsletter-head {
    width: 100%;
  }

  .subscription-form{
    width: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
  }

}









